In [1]:
import pandas as pd
import numpy as np

In [2]:
data = '../data/merged_stats_22024.csv'
df = pd.read_csv(data)
df.head()

,teamCity,teamName,teamTricode,teamSlug,PLAYER_ID,firstName,familyName,nameI,playerSlug,position,...,ROLLING_TOV,ROLLING_PF,ROLLING_PLUS_MINUS,ROLLING_total_shots,ROLLING_total_makes,ROLLING_fg_pct,ROLLING_paint_shots,ROLLING_mid_range_shots,ROLLING_three_point_shots,ROLLING_avg_distance
0,Los Angeles,Lakers,LAL,lakers,2544,LeBron,James,L. James,lebron-james,F,...,7.000000,22.000000,7.0,800.0,410.0,0.5125,243.0,145.0,227.0,12.92125
1,Los Angeles,Lakers,LAL,lakers,2544,LeBron,James,L. James,lebron-james,F,...,9.500000,20.000000,7.0,800.0,410.0,0.5125,243.0,145.0,227.0,12.92125
2,Los Angeles,Lakers,LAL,lakers,2544,LeBron,James,L. James,lebron-james,F,...,12.666667,19.666667,6.0,800.0,410.0,0.5125,243.0,145.0,227.0,12.92125
3,Los Angeles,Lakers,LAL,lakers,2544,LeBron,James,L. James,lebron-james,F,...,12.250000,19.500000,3.5,800.0,410.0,0.5125,243.0,145.0,227.0,12.92125
4,Los Angeles,Lakers,LAL,lakers,2544,LeBron,James,L. James,lebron-james,F,...,13.800000,17.000000,-2.0,800.0,410.0,0.5125,243.0,145.0,227.0,12.92125

In [4]:
# normalization
from sklearn.preprocessing import StandardScaler, MinMaxScaler

numeric_cols = df.select_dtypes(include=['number']).columns.tolist()
exclude_cols = ['GAME_ID', 'PLAYER_ID', 'TEAM_ID']
numeric_cols = [col for col in numeric_cols if col not in exclude_cols]

scaler = StandardScaler()

df[numeric_cols] = scaler.fit_transform(df[numeric_cols])
df[numeric_cols].describe()